.Button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid red;

    &--ghost {
        background-color: transparent;
        color: var(--foreground-color);
        border: none;
    }

    &--primary {
        background-color: var(--color-background-primary);
        color: var(--color-foreground-primary);
    }

    &--secondary {
        background-color: var(--color-background-secondary);
        color: var(--color-foreground-secondary);
    }
}
