@mixin appColors {
  .light-theme {
    &,
    :root,
    ::before,
    ::after,
    ::placeholder {
      --background-color: white;
      --foreground-color: black;
      --color-error: red;
    }
  }

  .dark-theme {
    &,
    :root,
    ::before,
    ::after,
    ::placeholder {
      --background-color: black;
      --foreground-color: white;
      --color-error: red;
    }
  }
}
