.DataGridContainer {
  border: 1px solid gray;
  border-radius: 15px;
  box-sizing: border-box;
}

.DataGrid {
  border: 0;
  color: var(--foreground-color);
  & :global {
    .MuiTablePagination-root {
        color: var(--foreground-color);
    }
    .MuiSvgIcon-root{
      color: var(--foreground-color);
    }
  }
}
