.ReceivablesGrid {
    &__Row {
        &--canceled {
            color: var(--color-error);
            font-weight: 600;
        }
    }
    &__Cell {
        &--ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__Legend {
        display: flex;
        gap: .25rem;
        &__Item {
            display: flex;
            align-items: center;
            gap: .25rem;
            &__Box {
                width: 1rem;
                height: 1rem;
                &--cancelled {
                    background-color: var(--color-error);
                }
            }
        }
    }
}
