@mixin appColors {
  .light-theme {
    &,
    :root,
    ::before,
    ::after,
    ::placeholder {
      --background-color: white;
      --foreground-color: black;
      --color-error: red;
      --color-background-primary: #007bff;
      --color-foreground-primary: white;
      --color-background-secondary: #6c757d;
      --color-foreground-secondary: white;
      --border-color: gray;
    }
  }

  .dark-theme {
    &,
    :root,
    ::before,
    ::after,
    ::placeholder {
      --background-color: black;
      --foreground-color: white;
      --color-error: red;
      --color-background-primary: #007bff;
      --color-foreground-primary: black;
      --color-background-secondary: #6c757d;
      --color-foreground-secondary: black;
      --border-color: gray;
    }
  }
}
